.footer {
    background: #2F303A;
}
.footer .footer-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $secondary-text-color;
}


.footer .footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.footer {
    background-color: #2F303A;
              
}

.footer .logo {
    display: block;
 
    width: 154px;

    
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        padding-top: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 0;
        margin-right: 0;
        padding-top: 60px;
    }
}
.footer-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}
    
.footer-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 9px;
}
.footer-links:not(:last-child) {
    padding-bottom: 9px;
}
.footer-section {
    width: 232px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
        margin-right: 70px;
        padding-top: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
        margin-right: 70px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
}
.footer-link {
    display: block;
}
.footer .container {
    display: block;
    align-items: baseline;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
    }
}

.footer-discription {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 0;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}
.footer-box-discription {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 65px;

    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 60px;
    }

}

.footer-list .icon::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: background-color 250ms $timing-function;
}
.footer-list .icon:hover::before ,
.footer-list .icon:focus::before {
    background-color: $accent-color;
}
.footer-list {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-list > li:not(:last-child) {
    margin-right: 10px;
}
.footer-adress {
    display: flex;
    align-items: baseline;
    width: 231px;

    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}
.instagram-white::before {
    background-image: url("../images/icons/instagram-white.svg");
}
.twitter-white::before {
    background-image: url("../images/icons/twitter-white.svg");
}
.facebook-white::before{
    background-image: url("../images/icons/facebook-white.svg");
}
.linkedin-white::before {
    background-image: url("../images/icons/linkedin-white.svg");
}