.overlay::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    width: 100%;
    height: 100%;
    
    background-color: rgba(33, 150, 243, 0.9); 
}
.img-overlay {
    position: relative;
    overflow: hidden;

    width: 100%;
     
    margin: 0;

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 294px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        
    }
    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}
.img-overlay img {
    width: 100%;
    
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}
.text {
    position: absolute;
    top: 63px;
    left: 24px;
    margin: 0;
    width: 322px;
    height: 168px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: $secondary-text-color;   
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    
    transform: translateY(100%);
    transition: transform 250ms $timing-function;
    
}
.lists-section:hover .overlay {
    transform: translateY(0%);   
}
.lists-section {
    transition: box-shadow 250ms $timing-function;
}
.lists-section:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.cards {
    display: block;
    transition: box-shadow 250ms $timing-function;
   
}
.cards:focus .overlay {
    transform: translateY(0%);
}
.cards:focus {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}